<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coder.zzq.version_updater">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <provider
            android:name=".VersionUpdaterFileProvider"
            android:authorities="${applicationId}.version_updater.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/version_updater_file_provider_paths" />
        </provider>
        <!--for sdk 21 and above-->
        <service
            android:name=".service.DownloadApkService21"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--for sdk 17-20 -->
        <service
            android:name=".service.DownloadApkService17"
            android:exported="false" />
    </application>

</manifest>
